<!DOCTYPE html>
<style>
	.jumbo-header {
		position: relative;
		background-image: url(<%= asset_path('tonga-header-img.jpg') %>);
		background-repeat: no-repeat;
		background-size: cover;
		height: 300px;
	}
	.header-title {
		position: absolute;
		bottom: 10px;
		color: white;
	}
</style>
<html>
  <head>
    <title>Tonga Apartments LLC</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div class="container">
			
			<div class="jumbotron jumbo-header">
				<%= render 'navigation' %>
				<span class="header-title">
					<h1>Tonga Apartments LLC</h1>
				</span>
			</div>
		</div>
    <%= yield %>
  </body>
</html>